body {
  background-color: black;
}

#intro {
  background-image: url('images/twilight-1024x454.jpg');
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}

#abouttitle #ray h2 {
  position: absolute;
  font-size: 450%;
  font-family: 'Shadows Into Light', cursive;
  right: 43%;
  margin-top: 13%;
}

#abouttitle #ray {
  height: 5%;
  width: 3%;
  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
  border-bottom: 300px solid grey;
  margin-left: 34%;
  padding-top: 15%;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 3s infinite;
}

#abouttitle {
  background-image: url('images/ufo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#intro h1 {
  font-family: 'Fontdiner Swanky', cursive;
  color: white;
  font-size: 500%;
  margin-top: 5%;
}

#intro p {
  color: white;
  font-size: 150%;
  font-family: 'Righteous', cursive;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
}

#intro img {
  max-width: 30%;
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#about {
  background-color: #484848;
  background-image: url('images/FNV_Needlenose.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10%;
  background-position: center;
  opacity: 0.7;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#about p {
  font-family: 'Quicksand', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 200%;
  padding-bottom: 10%;
  color: white;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0%   {opacity: 0.3;}
    50%  {opacity: 0.6;}
    100% {opacity: 0.3;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {opacity: 0.3;}
    50%  {opacity: 0.6;}
    100% {opacity: 0.3;}
}
